body{
    margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url(EightBells.jpg);
  height: 100%;
  background-size:cover;
  background-attachment: fixed;
  opacity: 0.80;
}

p{
    clear:both;
    margin-left: 2em;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #45a049;
  }

.section {
    padding: 50px;
    text-align: center;
    background-color: hsl(219, 23%, 24%);
    color: white;
  }

.button {
    border: none;
    outline: 0;
    border-radius: 1em;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: hsl(209, 15%, 40%);
    text-align: center;
    cursor: pointer;
    width: 30%;
  }
  
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  

  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
    .row:after {
    content: "";
    display: table;
    clear: both;
  }